#textcolor{
color: whitesmoke;
}

#topmargin {
    margin-top: 30px;
}

body {
    background-color: #bfbfbf;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
}

a.custom-card{
    background-color: #e08283;
}

a.custom-card:hover{
    background-color: #f1a9a0;
    text-decoration: none;
}

a.custom-card > .card-body {
    background-color: #dc3545;
}

a.custom-card:hover > .card-body {
   background-color: #f03434;
}
